@model Fakture.ViewModels.LoginVM
@{
	ViewData["Title"] = "Login";
	string error_poruka = (string)TempData["error_poruka"];
}
<h1>Login </h1>
<div class="form-group">
    <form asp-action="Login">
        <div>
            <label>
                <i class="fa fa-user" aria-hidden="true"></i> Korisničko ime
            </label>
            <input type="text" name="username" placeholder="Vaše ime"  oninvalid="this.setCustomValidity('Obavezno polje')"
                   oninput="setCustomValidity('')" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div >
            <label>
                <i class="fa fa-envelope" aria-hidden="true"></i> Password
            </label>
            <input type="password" name="password" placeholder="Vaš password "  id="myInput"   oninvalid="this.setCustomValidity('Obavezno polje')"
                   oninput="setCustomValidity('')" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <div >
                <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                <label class="check" for="check3">Prikaži password</label>
            </div>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
        <div>
            <div>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                    Zapamti me
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="LOGIN">
            </div>
            <div class="form-group">
                    <input type="submit" asp-controller="Registracija" asp-action="Index" value="REGISTRUJ SE"> 
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div> 

